@import '../basic.scss';



header {
    position: relative;
    height: 45rem;
    color: whitesmoke;
    font-family: 'Exo 2';
    letter-spacing: 0.15em;
    border-radius: 8rem;
    overflow: hidden;

    .header_wrapper-name-profession {
        position: absolute;
        height: 100%;
        width: 100%;
        clip-path: polygon(-17% 0%, 100% 0%, 100% 100%, 150% 100%);
        margin: 0;
        background-color: $background-name;
        text-align: end;

        .name {
            font-size: $fontSizeTitle;
            padding: 2rem 5rem 0 0;
        }



        .profession {
            font-size: $fontSizeText;
            padding: 0 5rem 0 0;
        }

        @media (max-width:1050px) {
            .name {
                font-size: $fontSizeTitle-1200;
            }

            .profession {
                font-size: $fontSizeText-1200;
            }
        }

    }
    @media (max-width:850px) {
        .header_wrapper-name-profession {
            text-align: center;

            .name {
                font-size: $fontSizeTitle-850;
                padding: 2rem 0 0 0;
            }
            
            .profession {
                font-size: $fontSizeText-850;
                padding: 0;
            }
        }
    }

    .header_wrapper-contacts {
        position: absolute;
        padding: 0 0 0 1rem;
        height: 90%;
        width: 48%;
        bottom: 0rem;
        clip-path: polygon(0% 100%, 100% 100%, 100% 41%, 0% 5%);
        margin: 0;
        background-color: $background-contacts-about;

        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;



        .wrapper-contacts__contacts {
            width: 100%;

            & h3 {
                font-size: $fontSizeTitle;
            }

            @media (max-width:1050px) {
                & h3 {
                    font-size: $fontSizeTitle-1200;
                }
            }
            
        }
        

        .wrapper-contacts-about-me__list-contacts {
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .list-contacts__contact {
                color: whitesmoke;
                font-size: 1.4rem;
                display: flex;
                gap: 1rem;
                cursor: pointer;
                transition: .4s;
                transition-timing-function: linear;
                word-break: break-all;

                &:active {
                    transform: scale(0.8);
                }

                &:hover {
                    transform: scale(1.1);
                    color: $shadowHover;
                }



            }

            @media (max-width:1050px) {
                .list-contacts__contact {
                    font-size: $fontSizeText-1200;
                }
            }

            @media (max-width:850px) {
                .list-contacts__contact {
                    font-size: $fontSizeText-850;
                }
            }

            .GitHub,
            .instagram,
            .telegram,
            .mail,
            .phone,
            .linkedin {
                &::before {
                    content: '';
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 2rem;
                    width: 2rem;
                }
            }

            .GitHub::before {
                background-image: url(../assets/icons/github.svg);
            }

            .instagram:before {
                background-image: url(../assets/icons/instagram.svg);
            }

            .telegram:before {
                background-image: url(../assets/icons/telegram.svg);
            }


            .mail:before {
                background-image: url(../assets/icons/mail.svg);
            }


            .phone:before {
                background-image: url(../assets/icons/phone.svg);
            }


            .linkedin:before {
                background-image: url(../assets/icons/linkedIn.svg);
            }


        }
    }
        @media (max-width:850px) {
            .header_wrapper-contacts {
                justify-content: flex-start;
    
                & h3 {
                    font-size: $fontSizeTitle-850;
                    padding: 14rem 0 0 5%;
                }
            }
        }

    .header_wrapper-about-me {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 48%;
        background-color: $background-name;
        height: 23.5rem;
        clip-path: polygon(0% 100%, 100% 100%, 100% 51%, 0% 0%);

        display: flex;
        align-items: center;

        & h3 {
            font-size: $fontSizeTitle;
            padding: 0 0 0 1rem;
        }

        @media(max-width:1050px) {
            & h3 {
                font-size: $fontSizeTitle-1200;
            }
        }

        @media(max-width:850px) {
            & h3 {
            padding: 50% 0 0 1rem;
                font-size: $fontSizeTitle-850;
            }
        }

        .wrapper-contacts-about-me__about-me {
            width: 90%;
        }

        .wrapper-contacts-about-me__list-about-me {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1.4rem;



            .city {
                padding: 0 0 0 10%;
            }

            .birthday {
                padding: 0 0 0 20%;

            }

            .hobbies {
                padding: 0 0 0 30%;
            }

            .city,
            .birthday,
            .hobbies {
                span {
                    color: #040c29;
                }
            }

            @media (max-width:850px) {

                .city,
                .birthday,
                .hobbies {
                    padding: 0 0 0 5%;
                }
            }
        }

        @media (max-width:1050px) {
            .wrapper-contacts-about-me__list-about-me {
                font-size: $fontSizeText-1200;
            }
        }
    }

    .header__avatar {
        position: absolute;
        height: 15rem;
        @include circleForBlocks;
        object-fit: contain;
        left: 10rem;
        top: 1rem;
    }

    @media(max-width:850px) {
        .header__avatar {
            height: 8rem;
            left: auto;
            top: 8rem;
            right: 1rem;
        }
    }
}