$background-name: rgba(45, 125, 136, 1);
$background-contacts-about: rgba(4, 12, 41, 1);

* {
    list-style: none;
    text-decoration: none;
}
body,
#root {
    font-family: "Exo 2";
    letter-spacing: 0.15em;
    padding: 1rem;
    // overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
ul {
    padding: 0;
}